@page "/admin/add-new-dish"

<PageTitle>Admin - Add Dish</PageTitle>

@if (isMakingRequest)
{
    <BasicLoader />
}

<main>
    <div class="card">
        @* Progress Bar *@
        <div class="bar-container">
            <div class="progress-marks">
                <div class="progress-mark @(currentStep == 1 ? "active-mark" : null)"
                    style="@(currentStep == 1 ? "background-color: rgb(77, 197, 77)" : "background-color: rgb(180, 227, 180)")">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                        <path
                            d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        <path
                            d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                    </svg>
                </div>

                <div class="progress-mark @(currentStep == 2 ? "active-mark" : null)"
                    style="@(currentStep == 2 ? "background-color: rgb(77, 197, 77)" : "background-color: rgb(180, 227, 180)")">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-image-fill" viewBox="0 0 16 16">
                        <path
                            d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z" />
                    </svg>
                </div>

                <div class="progress-mark @(currentStep == 3 ? "active-mark" : null)"
                    style="@(currentStep == 3 ? "background-color: rgb(77, 197, 77)" : "background-color: rgb(180, 227, 180)")">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                </div>
            </div>
            <div class="outer-shell">
                <div class="bar"></div>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <ErrorAlert ErrorMessage="@errorMessage" />
        }

        @* Dish Information *@
        @if (currentStep == 1)
        {
            <div>
                <InfoAlert InfoMessage="Please note: You can edit the dish information after creating it" />
            </div>
            @*This step is for uploading the textual information*@
            <div class="first-step">
                <div>
                    <h1 class="main-title">Fill Out The New Dish Information &nbsp; 🍽️</h1>
                </div>
                <div>
                    <EditForm Model="createDishRequest" OnValidSubmit="HandleDishCreationAsync">
                        <DataAnnotationsValidator />

                        <div class="form-group">
                            <label>Dish Name</label>
                            <InputText class="form-input" @bind-Value="@createDishRequest.Name" type="text" />
                            <ValidationMessage class="validation-msg" For="(() => createDishRequest.Name)" />
                        </div>

                        <div class="form-group">
                            <label>Dish Description</label>
                            <InputTextArea class="form-input" style="height: 150px;"
                                @bind-Value="@createDishRequest.Description" type="text" />
                            <ValidationMessage class="validation-msg" For="(() => createDishRequest.Description)" />
                        </div>

                        <div class="form-group">
                            <label>Dish Price</label>
                            <InputNumber class="form-input" @bind-Value="@createDishRequest.Price" type="number" />
                            <ValidationMessage class="validation-msg" For="(() => createDishRequest.Price)" />
                        </div>

                        <div class="form-group">
                            <InputCheckbox class="form-checkbox" @bind-Value="@createDishRequest.IsAvailable" />
                            <lable>Is this dish currently available for ordering?</lable>
                        </div>

                        <div class="form-group">
                            <InputCheckbox class="form-checkbox" @bind-Value="@createDishRequest.IsSpecial" />
                            <lable>Is this dish currently on the specials list?</lable>
                        </div>

                        <div class="form-group bottom-row">
                            <button type="submit" class="continue-btn" disabled="@isMakingRequest">Continue</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        }
        else if (currentStep == 2)
        {
            @* The dish gallery section *@
            <div class="second-step">
                <div>
                    <InfoAlert InfoMessage="The first image you upload will be used as the cover image for the dish" />
                </div>

                <div>
                    <h1 class="main-title">Upload Images Of The New Dish &nbsp; 🖼️</h1>
                </div>

                <div class="upload-row">
                    <div>
                        <label>Upload File</label>
                        <InputFile class="image-upload-btn" OnChange="AddNewDishImageAsync" />
                    </div>

                    <div>
                        <p style="@(dishGallery.Count == 10 || dishGallery.Count < 2 ? "red" : "darkgray")">
                            @dishGallery.Count/10</p>
                    </div>
                </div>

                <div class="gallery-section">
                    @if (dishGallery is not null && dishGallery.Any())
                    {
                        <div class="images-container">
                            @foreach (var i in dishGallery)
                            {
                                <div class="image-container">
                                    <img src="@i.URL" width="200" height="200" />
                                    <button class="remove-img-btn" @onclick="(() => HandleImageRemovalAsync(i.Id))">
                                        Remove Image
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                            class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                            <path
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                        </svg>
                                    </button>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        @* The user hasn't uploaded any image *@
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="375" height="225"
                            viewBox="0 0 858.75602 581.93444" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M982.60337,738.67494a198.58515,198.58515,0,0,1,16.43551-62.6751q3.70938-8.28648,8.16548-16.20812a1.21031,1.21031,0,0,0-2.08857-1.22081,201.33032,201.33032,0,0,0-22.40292,61.8047q-1.682,9.08553-2.52831,18.29933c-.14337,1.54932,2.27633,1.53955,2.41881,0Z"
                                transform="translate(-170.62199 -159.03278)" fill="#f2f2f2" />
                            <circle cx="842.44078" cy="489.31908" r="15.31908" fill="#f2f2f2" />
                            <path
                                d="M984.1704,739.08181a128.83181,128.83181,0,0,1,10.66249-40.66026q2.40643-5.37582,5.29732-10.515a.78518.78518,0,0,0-1.355-.792,130.61268,130.61268,0,0,0-14.53382,40.09559q-1.09118,5.8942-1.64023,11.87163c-.093,1.00512,1.47676.99878,1.56919,0Z"
                                transform="translate(-170.62199 -159.03278)" fill="#f2f2f2" />
                            <circle cx="833.30885" cy="521.45224" r="9.9382" fill="#f2f2f2" />
                            <path
                                d="M982.18985,738.14366a128.83151,128.83151,0,0,1-16.60132-38.61789q-1.409-5.71884-2.29049-11.549a.78518.78518,0,0,0-1.55548.2089,130.61245,130.61245,0,0,0,13.20154,40.55376q2.76492,5.31861,6.00847,10.36939c.54487.84972,1.77871-.12078,1.23728-.96515Z"
                                transform="translate(-170.62199 -159.03278)" fill="#f2f2f2" />
                            <circle cx="791.10806" cy="520.7546" r="9.9382" fill="#f2f2f2" />
                            <path
                                d="M341.04917,738.67494a198.58543,198.58543,0,0,0-16.43552-62.6751q-3.70938-8.28648-8.16547-16.20812a1.2103,1.2103,0,0,1,2.08856-1.22081,201.33032,201.33032,0,0,1,22.40292,61.8047q1.682,9.08553,2.52831,18.29933c.14338,1.54932-2.27633,1.53955-2.4188,0Z"
                                transform="translate(-170.62199 -159.03278)" fill="#f2f2f2" />
                            <circle cx="139.96777" cy="489.31908" r="15.31908" fill="#f2f2f2" />
                            <path
                                d="M339.48213,739.08181a128.83154,128.83154,0,0,0-10.66249-40.66026q-2.40643-5.37582-5.29732-10.515a.78518.78518,0,0,1,1.355-.792,130.61243,130.61243,0,0,1,14.53382,40.09559q1.09117,5.8942,1.64023,11.87163c.093,1.00512-1.47676.99878-1.56919,0Z"
                                transform="translate(-170.62199 -159.03278)" fill="#f2f2f2" />
                            <circle cx="149.0997" cy="521.45224" r="9.9382" fill="#f2f2f2" />
                            <path
                                d="M341.46268,738.14366A128.83126,128.83126,0,0,0,358.064,699.52577q1.409-5.71884,2.2905-11.549a.78518.78518,0,0,1,1.55548.2089,130.61247,130.61247,0,0,1-13.20155,40.55376Q345.94351,734.058,342.7,739.10881c-.54487.84972-1.77871-.12078-1.23728-.96515Z"
                                transform="translate(-170.62199 -159.03278)" fill="#f2f2f2" />
                            <circle cx="191.3005" cy="520.7546" r="9.9382" fill="#f2f2f2" />
                            <path
                                d="M925.025,538.4116l.2391,180.1142a12.62623,12.62623,0,0,1-12.59331,12.63042l-74.81731.10967c21.0619-39.39981,32.98714-101.4149,32.91706-149.21752a281.27111,281.27111,0,0,0-5.721-56.16081l47.34517-.0694A12.62623,12.62623,0,0,1,925.025,538.4116Z"
                                transform="translate(-170.62199 -159.03278)" fill="#63d6ff" />
                            <path
                                d="M1028.18733,740.96722h-738.294a1.19069,1.19069,0,0,1,0-2.38137h738.294a1.19068,1.19068,0,0,1,0,2.38137Z"
                                transform="translate(-170.62199 -159.03278)" fill="#3f3d56" />
                            <path
                                d="M815.38755,513.794l-133.33838-.52295,12.96582-43.1372a16.59941,16.59941,0,0,1,15.80371-11.75049h.06274l76.10571.29883a16.59722,16.59722,0,0,1,15.77369,11.875Z"
                                transform="translate(-170.62199 -159.03278)" fill="#3f3d56" />
                            <path d="M889.82627,499.03278a14,14,0,0,0-14,14h28A14,14,0,0,0,889.82627,499.03278Z"
                                transform="translate(-170.62199 -159.03278)" fill="#63d6ff" />
                            <path
                                d="M932.82627,740.03278h-368a17.01916,17.01916,0,0,1-17-17v-194a17.01917,17.01917,0,0,1,17-17h368a17.01917,17.01917,0,0,1,17,17v194A17.01916,17.01916,0,0,1,932.82627,740.03278Zm-368-226a15.017,15.017,0,0,0-15,15v194a15.017,15.017,0,0,0,15,15h368a15.017,15.017,0,0,0,15-15v-194a15.017,15.017,0,0,0-15-15Z"
                                transform="translate(-170.62199 -159.03278)" fill="#3f3d56" />
                            <path d="M764.82627,497.53278h-32a8.5,8.5,0,0,1,0-17h32a8.5,8.5,0,0,1,0,17Z"
                                transform="translate(-170.62199 -159.03278)" fill="#fff" />
                            <path
                                d="M748.82627,702.03278a76,76,0,1,1,76-76A76.086,76.086,0,0,1,748.82627,702.03278Zm0-150a74,74,0,1,0,74,74A74.08385,74.08385,0,0,0,748.82627,552.03278Z"
                                transform="translate(-170.62199 -159.03278)" fill="#3f3d56" />
                            <path
                                d="M748.82627,676.03278a50,50,0,1,1,50-50A50.0565,50.0565,0,0,1,748.82627,676.03278Zm0-98a48,48,0,1,0,48,48A48.05437,48.05437,0,0,0,748.82627,578.03278Z"
                                transform="translate(-170.62199 -159.03278)" fill="#3f3d56" />
                            <circle cx="578.20428" cy="467" r="38" fill="#ccc" />
                            <path
                                d="M725.82627,626.03278a25.001,25.001,0,0,1,21.5-24.751,25,25,0,1,0,0,49.502A25.001,25.001,0,0,1,725.82627,626.03278Z"
                                transform="translate(-170.62199 -159.03278)" fill="#fff" />
                            <path
                                d="M914.82627,514.03278h-50v-1a25,25,0,0,1,50,0Zm-47.97852-2h45.957a23.00028,23.00028,0,0,0-45.957,0Z"
                                transform="translate(-170.62199 -159.03278)" fill="#3f3d56" />
                            <path
                                d="M572.82627,542.03278a10,10,0,1,1,10-10A10.0113,10.0113,0,0,1,572.82627,542.03278Zm0-18a8,8,0,1,0,8,8A8.00916,8.00916,0,0,0,572.82627,524.03278Z"
                                transform="translate(-170.62199 -159.03278)" fill="#3f3d56" />
                            <circle cx="402.20428" cy="373" r="5" fill="#63d6ff" />
                            <circle cx="428.20428" cy="373" r="5" fill="#ccc" />
                            <circle cx="454.20428" cy="373" r="5" fill="#ccc" />
                            <path
                                d="M598.82627,542.03278a10,10,0,1,1,10-10A10.0113,10.0113,0,0,1,598.82627,542.03278Zm0-18a8,8,0,1,0,8,8A8.00916,8.00916,0,0,0,598.82627,524.03278Z"
                                transform="translate(-170.62199 -159.03278)" fill="#3f3d56" />
                            <path
                                d="M624.82627,542.03278a10,10,0,1,1,10-10A10.0113,10.0113,0,0,1,624.82627,542.03278Zm0-18a8,8,0,1,0,8,8A8.00916,8.00916,0,0,0,624.82627,524.03278Z"
                                transform="translate(-170.62199 -159.03278)" fill="#3f3d56" />
                            <rect x="378.20428" y="439.87402" width="130" height="2" fill="#3f3d56" />
                            <rect x="378.20428" y="480.12598" width="126.77148" height="2" fill="#3f3d56" />
                            <rect x="648.20428" y="439.87402" width="130" height="2" fill="#3f3d56" />
                            <rect x="651.20428" y="480.12598" width="126.77148" height="2" fill="#3f3d56" />
                            <path
                                d="M443.44815,401.50927c-8.10948-3.7255-13.44022-14.37685-13.13661-24.88137s5.83147-20.32877,13.4557-25.33817a26.6494,26.6494,0,0,1,25.21942-1.90564c8.18253,3.483,19.16872,4.43181,24.08706,13.089,3.77959,6.6528,2.41807,21.49465-.25792,28.89228-2.31293,6.394-7.96837,9.99663-13.48333,12.0127a45.34013,45.34013,0,0,1-37.51095-3.0216"
                                transform="translate(-170.62199 -159.03278)" fill="#2f2e41" />
                            <polygon points="223.381 568.707 211.722 564.914 220.803 518.141 238.01 523.739 223.381 568.707"
                                fill="#ffb8b8" />
                            <path
                                d="M372.58307,718.896h23.64387a0,0,0,0,1,0,0v14.88687a0,0,0,0,1,0,0H357.69622a0,0,0,0,1,0,0v0A14.88686,14.88686,0,0,1,372.58307,718.896Z"
                                transform="translate(72.57497 -240.01982) rotate(18.021)" fill="#2f2e41" />
                            <polygon points="327.75 568.961 315.49 568.96 309.658 521.672 327.752 521.673 327.75 568.961"
                                fill="#ffb8b8" />
                            <path
                                d="M306.73286,565.45722h23.64387a0,0,0,0,1,0,0v14.88687a0,0,0,0,1,0,0H291.846a0,0,0,0,1,0,0v0A14.88686,14.88686,0,0,1,306.73286,565.45722Z"
                                fill="#2f2e41" />
                            <path
                                d="M497.75493,708.652c-.07373,0-.14746-.002-.22168-.00585l-13.5857-.64747a4.50609,4.50609,0,0,1-4.2854-4.43261L477.82109,569.1754a1.5,1.5,0,0,0-2.82666-.67871l-71.9585,136.44043a4.47624,4.47624,0,0,1-4.822,2.32129l-13.521-2.5752a4.49925,4.49925,0,0,1-3.40136-5.918l52.42993-148.55176,4.03442-43.94336a4.46976,4.46976,0,0,1,3.936-4.04981c15.2771-1.877,36.62378-14.39453,45.09228-19.68945a4.446,4.446,0,0,1,3.53052-.53125,4.55584,4.55584,0,0,1,2.83081,2.24512A202.74824,202.74824,0,0,1,515.42241,608.2213l-13.2168,96.54A4.47517,4.47517,0,0,1,497.75493,708.652Z"
                                transform="translate(-170.62199 -159.03278)" fill="#2f2e41" />
                            <circle cx="290.56412" cy="228.23695" r="24.56103" fill="#ffb8b8" />
                            <path
                                d="M436.71367,516.82091l-7.39551-52.84473a31.04467,31.04467,0,0,1,60.57373-13.63476c2.106,9.76855,6.385,21.66015,4.82178,34.47949h0C483.761,515.22026,463.87822,524.59276,436.71367,516.82091Z"
                                transform="translate(-170.62199 -159.03278)" fill="#b3b3b3" />
                            <path
                                d="M469.21367,434.82091h-18a4.50508,4.50508,0,0,1-4.5-4.5v-6a4.50508,4.50508,0,0,1,4.5-4.5h18a4.50508,4.50508,0,0,1,4.5,4.5v6A4.50508,4.50508,0,0,1,469.21367,434.82091Z"
                                transform="translate(-170.62199 -159.03278)" fill="#b3b3b3" />
                            <path
                                d="M560.43714,534.70305a10.74269,10.74269,0,0,0-8.71486-13.97851l-56.02916-80.21427L479.07942,456.935l60.29893,73.68333a10.80091,10.80091,0,0,0,21.05879,4.08469Z"
                                transform="translate(-170.62199 -159.03278)" fill="#ffb8b8" />
                            <path
                                d="M513.22,465.04933l-20.23358,13.50719a4.81689,4.81689,0,0,1-7.0291-1.94753l-10.36471-21.92794A13.37737,13.37737,0,0,1,497.888,439.89171l16.22876,17.91906a4.81686,4.81686,0,0,1-.8968,7.23856Z"
                                transform="translate(-170.62199 -159.03278)" fill="#b3b3b3" />
                            <path
                                d="M362.50212,426.92326a10.526,10.526,0,0,1,.2393,1.64013l42.95745,24.782,10.44141-6.01093,11.13117,14.57227-17.45034,12.43755a8,8,0,0,1-9.5982-.23384l-44.29652-34.94583a10.4971,10.4971,0,1,1,6.57573-12.24133Z"
                                transform="translate(-170.62199 -159.03278)" fill="#ffb8b8" />
                            <path
                                d="M418.1848,471.353l-10.79389-21.80215a4.81689,4.81689,0,0,1,2.835-6.7204l23.07847-7.45966a13.37737,13.37737,0,0,1,11.80032,24.01173L425.248,473.173a4.81687,4.81687,0,0,1-7.06321-1.82Z"
                                transform="translate(-170.62199 -159.03278)" fill="#b3b3b3" />
                            <path
                                d="M477.66834,356.33661a4.0633,4.0633,0,0,0,4.31681-2.40945,5.85065,5.85065,0,0,0-.41558-5.13768,10.73569,10.73569,0,0,0-3.7759-3.70338,12.406,12.406,0,0,0-5.98158-2.05789,7.46123,7.46123,0,0,0-5.79386,2.19927,5.37676,5.37676,0,0,0-.97171,5.92757c.89811,1.73189,2.78252,2.70308,4.61861,3.36249a27.09446,27.09446,0,0,0,11.37779,1.49441"
                                transform="translate(-170.62199 -159.03278)" fill="#2f2e41" />
                            <path
                                d="M485.52171,398.4522c-4.29282.20179-3.55357-8.90722-4.89707-12.98938s-3.19553-8.95129-7.42121-9.734c-3.463-.6414-6.59249,1.8908-9.609,3.70863-5.37643,3.24-12.33584,4.43518-17.9813,1.69061s-9.07856-10.078-6.33291-15.72294a12.87576,12.87576,0,0,1,8.049-6.34147,25.90621,25.90621,0,0,1,10.46215-.50253,53.5269,53.5269,0,0,1,21.88564,7.75738c4.58191,2.87355,8.94169,6.78638,10.30581,12.02s1.91985,19.46522-3.413,20.36624Z"
                                transform="translate(-170.62199 -159.03278)" fill="#2f2e41" />
                            <path
                                d="M474.29043,343.66756c-3.24269-4.11085-2.02127-10.58761,1.75819-14.21113s9.39951-4.75287,14.615-4.292a29.6206,29.6206,0,0,1,24.02455,17.27486c3.29591,7.53929,3.2687,16.16291,6.24936,23.83231a32.13672,32.13672,0,0,0,43.41,17.54257c5.18809-2.39208,10.1283-7.07633,9.83209-12.78163,3.28018,12.64628-2.62756,27.11236-13.82269,33.84715-6.55732,3.94476-14.32314,5.28395-21.91987,6.20555-4.95074.60059-10.0389,1.04741-14.87-.18987-6.75916-1.731-12.41819-6.71982-15.84494-12.79766s-4.77478-13.16057-4.827-20.13767c-.04071-5.43531.67085-10.87348.29483-16.29592s-2.00606-11.03112-5.93667-14.78538-10.5637-4.98991-14.87753-1.6831c-1.73367,1.329-3.00429,3.26972-4.95633,4.25017s-5.036.21793-5.16665-1.96259Z"
                                transform="translate(-170.62199 -159.03278)" fill="#2f2e41" />
                            <path
                                d="M380.1846,427.09882H177.60741a6.99354,6.99354,0,0,1-6.98542-6.98542V306.0182a6.99355,6.99355,0,0,1,6.98542-6.98542H380.1846A6.99331,6.99331,0,0,1,387.17,306.0182V420.1134A6.9933,6.9933,0,0,1,380.1846,427.09882ZM177.60741,300.5851a5.43921,5.43921,0,0,0-5.43311,5.4331V420.1134a5.43922,5.43922,0,0,0,5.43311,5.43311H380.1846a5.43946,5.43946,0,0,0,5.4331-5.43311V306.0182a5.43945,5.43945,0,0,0-5.4331-5.4331Z"
                                transform="translate(-170.62199 -159.03278)" fill="#3f3d56" />
                            <circle cx="73.76763" cy="191.12496" r="28.96719" fill="#e6e6e6" />
                            <path
                                d="M356.01238,401.30882l-34.00309-58.8951a2.42147,2.42147,0,0,0-4.19412,0l-20.751,35.94183-30.9356-53.58213a3.10467,3.10467,0,0,0-5.37739,0L217.155,400.28409a3.10463,3.10463,0,0,0,2.68869,4.65695h134.0716A2.42149,2.42149,0,0,0,356.01238,401.30882Z"
                                transform="translate(-170.62199 -159.03278)" fill="#63d6ff" />
                            <rect x="14.747" y="153.97084" width="12.41853" height="12.41853" fill="#3f3d56" />
                            <path
                                d="M459.03914,259.09882H300.75286a5.46449,5.46449,0,0,1-5.45814-5.45815V164.49093a5.4645,5.4645,0,0,1,5.45814-5.45815H459.03914a5.46431,5.46431,0,0,1,5.45815,5.45815v89.14974A5.4643,5.4643,0,0,1,459.03914,259.09882ZM300.75286,160.2457a4.25,4.25,0,0,0-4.24522,4.24523v89.14974a4.25,4.25,0,0,0,4.24522,4.24523H459.03914a4.25019,4.25019,0,0,0,4.24523-4.24523V164.49093a4.25019,4.25019,0,0,0-4.24523-4.24523Z"
                                transform="translate(-170.62199 -159.03278)" fill="#ccc" />
                            <circle cx="182.31201" cy="39.94715" r="22.63388" fill="#f2f2f2" />
                            <path
                                d="M440.15187,238.94747,413.58312,192.929a1.892,1.892,0,0,0-3.27713,0l-16.21409,28.0836L369.92,179.14556a2.42587,2.42587,0,0,0-4.20169,0L331.6539,238.14679a2.42585,2.42585,0,0,0,2.10085,3.63877H438.51331A1.89207,1.89207,0,0,0,440.15187,238.94747Z"
                                transform="translate(-170.62199 -159.03278)" fill="#e6e6e6" />
                            <rect x="136.19548" y="10.9163" width="9.70337" height="9.70337" fill="#ccc" />
                        </svg>
                        <p style="text-align: center;">It seems like you haven't uploaded any image to the new dish's
                    gallery<br />
                    Click above to upload some images</p>
                    }
                </div>

                <div class="form-group bottom-row">
                    <button @onclick="MoveToPreview" class="continue-btn"
                        disabled="@(isMakingRequest || imageUploadedLimitExceeded)">Continue</button>
                </div>
            </div>
        }
        else if (currentStep == 3)
        {
            @* The dish card item preview section *@
            <div class="third-step">
            <div>
                <h1 class="main-title">@createDishRequest.Name has been added to the menu! &nbsp; 👀</h1>
            </div>

            <div class="success-section">
                <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="350" height="300"
                    viewBox="0 0 680.83858 584.23207" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path id="b9ccae5a-ffdd-4f5c-9c1e-05af9f0f3372-118" data-name="Path 438"
                        d="M310.70569,694.02818a24.21459,24.21459,0,0,0,23.38269-4.11877c8.18977-6.87441,10.758-18.196,12.8467-28.68191l6.17973-31.01657-12.9377,8.90837c-9.30465,6.40641-18.81826,13.01866-25.26011,22.29785s-9.25223,21.94707-4.07792,31.988"
                        transform="translate(-259.58071 -157.88396)" fill="#e6e6e6" />
                    <path id="f4ad1d06-bd03-4ced-a5c4-c19a65ab4ee5-119" data-name="Path 439"
                        d="M312.7034,733.73874c-1.62839-11.86368-3.30382-23.88078-2.15884-35.87167,1.01467-10.64932,4.26373-21.04881,10.87831-29.57938a49.20592,49.20592,0,0,1,12.62466-11.44039c1.26215-.79648,2.42409,1.20354,1.16733,1.997a46.77949,46.77949,0,0,0-18.50446,22.32562c-4.02857,10.24607-4.67545,21.41582-3.98154,32.3003.41944,6.58218,1.31074,13.1212,2.20588,19.65251a1.19817,1.19817,0,0,1-.808,1.42251,1.16348,1.16348,0,0,1-1.42253-.808Z"
                        transform="translate(-259.58071 -157.88396)" fill="#f2f2f2" />
                    <path id="baf785f8-b4c6-42cf-85bd-8a16037845f7-120" data-name="Path 442"
                        d="M324.42443,714.70229a17.82513,17.82513,0,0,0,15.53141,8.01862c7.8644-.37318,14.41806-5.85973,20.31713-11.07027l17.452-15.4088-11.54987-.55281c-8.30619-.39784-16.82672-.771-24.73813,1.79338s-15.20758,8.72639-16.654,16.91541"
                        transform="translate(-259.58071 -157.88396)" fill="#e6e6e6" />
                    <path id="a14e4330-7125-4e03-a856-d6453c34f6cc-121" data-name="Path 443"
                        d="M308.10042,740.55843c7.83972-13.87142,16.93234-29.28794,33.1808-34.21552a37.02609,37.02609,0,0,1,13.95545-1.441c1.48189.128,1.11179,2.41174-.367,2.28454a34.39833,34.39833,0,0,0-22.27164,5.89215c-6.27994,4.27453-11.16975,10.21755-15.30781,16.51907-2.53511,3.86051-4.80576,7.88445-7.07642,11.903C309.48824,742.78513,307.36641,741.85759,308.10042,740.55843Z"
                        transform="translate(-259.58071 -157.88396)" fill="#f2f2f2" />
                    <path id="ac20a106-7eb8-4a45-8835-674ef3bf3222-122" data-name="Path 141"
                        d="M935.3957,569.31654H503.18092a5.03014,5.03014,0,0,1-5.02359-5.02359V162.90754a5.03017,5.03017,0,0,1,5.02359-5.02358H935.3957a5.03017,5.03017,0,0,1,5.02359,5.02358V564.292a5.02922,5.02922,0,0,1-5.02359,5.02359Z"
                        transform="translate(-259.58071 -157.88396)" fill="#fff" />
                    <path id="a8878079-c7cd-406f-a434-8b15b914b9b4-123" data-name="Path 141"
                        d="M935.3957,569.31654H503.18092a5.03014,5.03014,0,0,1-5.02359-5.02359V162.90754a5.03017,5.03017,0,0,1,5.02359-5.02358H935.3957a5.03017,5.03017,0,0,1,5.02359,5.02358V564.292a5.02922,5.02922,0,0,1-5.02359,5.02359ZM503.18092,159.88944a3.01808,3.01808,0,0,0-3.01152,3.01151V564.292a3.01808,3.01808,0,0,0,3.01152,3.01152H935.3957a3.01717,3.01717,0,0,0,3.01153-3.01152V162.90754a3.01809,3.01809,0,0,0-3.01153-3.01151Z"
                        transform="translate(-259.58071 -157.88396)" fill="#cacaca" />
                    <path id="af64f961-e9a2-4c53-a333-5060c7f850d2-124" data-name="Path 142"
                        d="M707.41023,262.18528a3.41053,3.41053,0,0,0,0,6.82105H894.55305a3.41053,3.41053,0,0,0,0-6.82105Z"
                        transform="translate(-259.58071 -157.88396)" fill="#e4e4e4" />
                    <path id="baad4cfb-158d-4439-9cc3-22475bf47b22-125" data-name="Path 143"
                        d="M707.41023,282.65037a3.41054,3.41054,0,0,0,0,6.82106h95.54019a3.41054,3.41054,0,0,0,0-6.82106Z"
                        transform="translate(-259.58071 -157.88396)" fill="#e4e4e4" />
                    <path id="f3456279-91e5-49ad-aa43-9838b26fb6ca-126" data-name="Path 142"
                        d="M543.84146,392.7046a3.41054,3.41054,0,0,0,0,6.82106h350.8937a3.41054,3.41054,0,0,0,0-6.82106Z"
                        transform="translate(-259.58071 -157.88396)" fill="#e4e4e4" />
                    <path id="a3288adf-49f8-485f-8ae9-1e4f1a13d849-127" data-name="Path 143"
                        d="M543.84146,413.1697a3.41054,3.41054,0,0,0,0,6.82106H803.13254a3.41054,3.41054,0,0,0,0-6.82106Z"
                        transform="translate(-259.58071 -157.88396)" fill="#e4e4e4" />
                    <path id="e63a5b48-5a7d-40a2-b9b0-6adec326348a-128" data-name="Path 142"
                        d="M543.84146,433.17177a3.41054,3.41054,0,0,0,0,6.82106h350.8937a3.41054,3.41054,0,0,0,0-6.82106Z"
                        transform="translate(-259.58071 -157.88396)" fill="#e4e4e4" />
                    <path id="a1c669b4-dfc3-4cfa-a7be-66b71399844d-129" data-name="Path 143"
                        d="M543.84146,453.63687a3.41054,3.41054,0,0,0,0,6.82106H803.13254a3.41054,3.41054,0,0,0,0-6.82106Z"
                        transform="translate(-259.58071 -157.88396)" fill="#e4e4e4" />
                    <path id="bfec50d1-ffb1-4de6-a9ef-a1085e40e016-130" data-name="Path 142"
                        d="M543.84146,474.17177a3.41054,3.41054,0,0,0,0,6.82106h350.8937a3.41054,3.41054,0,0,0,0-6.82106Z"
                        transform="translate(-259.58071 -157.88396)" fill="#e4e4e4" />
                    <path id="bc9696ec-ec99-41d5-9116-3ad9737a38ac-131" data-name="Path 143"
                        d="M543.84146,494.63687a3.41054,3.41054,0,0,0,0,6.82106H803.13254a3.41054,3.41054,0,0,0,0-6.82106Z"
                        transform="translate(-259.58071 -157.88396)" fill="#e4e4e4" />
                    <path d="M599.41943,324.82812a49,49,0,1,1,48.99952-49A49.05567,49.05567,0,0,1,599.41943,324.82812Z"
                        transform="translate(-259.58071 -157.88396)" fill="#11a400" />
                    <path
                        d="M450.67833,510.10041a12.24754,12.24754,0,0,0-14.953-11.36231l-16.19641-22.82521-16.27138,6.45945,23.32519,31.91237a12.31392,12.31392,0,0,0,24.09559-4.1843Z"
                        transform="translate(-259.58071 -157.88396)" fill="#a0616a" />
                    <path
                        d="M419.11211,508.40888l-49.00774-63.57777L388.46714,387.12c1.34563-14.50936,10.425-18.56089,10.81135-18.72645l.5893-.25281,15.979,42.6119-11.73235,31.28625,28.79671,48.4319Z"
                        transform="translate(-259.58071 -157.88396)" fill="#3f3d56" />
                    <path
                        d="M589.30794,312.41993a12.24758,12.24758,0,0,0-10.17219,15.78672l-21.50463,17.91269,7.69816,15.72326,30.01343-25.72272a12.31392,12.31392,0,0,0-6.03477-23.69995Z"
                        transform="translate(-259.58071 -157.88396)" fill="#a0616a" />
                    <path
                        d="M590.06206,344.02244l-59.59835,53.77665-58.95815-13.84578c-14.57-.21979-19.31136-8.9587-19.50629-9.33113l-.29761-.568,41.2489-19.22578,32.0997,9.27828,46.06046-32.45509Z"
                        transform="translate(-259.58071 -157.88396)" fill="#3f3d56" />
                    <polygon points="227.248 568.437 243.261 568.436 250.878 506.672 227.245 506.673 227.248 568.437"
                        fill="#a0616a" />
                    <path
                        d="M483.39733,721.74476h50.32614a0,0,0,0,1,0,0V741.189a0,0,0,0,1,0,0h-36.207a14.11914,14.11914,0,0,1-14.11914-14.11914v-5.32505A0,0,0,0,1,483.39733,721.74476Z"
                        transform="translate(757.57348 1305.02654) rotate(179.99738)" fill="#2f2e41" />
                    <polygon points="163.247 568.437 179.26 568.436 186.878 506.672 163.245 506.673 163.247 568.437"
                        fill="#a0616a" />
                    <path
                        d="M419.397,721.74476H469.7231a0,0,0,0,1,0,0V741.189a0,0,0,0,1,0,0h-36.207A14.11914,14.11914,0,0,1,419.397,727.06981v-5.32505a0,0,0,0,1,0,0Z"
                        transform="translate(629.57273 1305.02946) rotate(179.99738)" fill="#2f2e41" />
                    <polygon
                        points="157.552 342.991 158.858 434.42 160.165 554.584 188.899 551.972 203.267 386.094 221.553 551.972 251.218 551.972 254.206 384.788 243.757 348.216 157.552 342.991"
                        fill="#2f2e41" />
                    <path
                        d="M473.37417,513.1531c-31.26533.00239-60.04471-14.14839-60.43319-14.34263l-.32273-.16136-2.62373-62.96637c-.76082-2.22509-15.74263-46.13091-18.28-60.08625-2.57083-14.13882,34.68842-26.54742,39.213-27.99853l1.02678-11.37405,41.75366-4.49918,5.292,14.5536,14.97942,5.6168a7.40924,7.40924,0,0,1,4.59212,8.7043l-8.32539,33.85619,20.33325,112.01266-4.37755.18946C495.709,511.39658,484.38425,513.1525,473.37417,513.1531Z"
                        transform="translate(-259.58071 -157.88396)" fill="#3f3d56" />
                    <circle cx="454.46738" cy="294.45965" r="30.06284"
                        transform="matrix(0.87745, -0.47966, 0.47966, 0.87745, -345.12824, 96.19037)" fill="#a0616a" />
                    <path
                        d="M430.1166,323.56132c5.72926,6.10289,16.36927,2.82672,17.1158-5.51069a10.07153,10.07153,0,0,0-.01268-1.94523c-.38544-3.69311-2.519-7.046-2.008-10.94542a5.73974,5.73974,0,0,1,1.05046-2.687c4.56548-6.11359,15.28263,2.73444,19.59138-2.8,2.642-3.39359-.46364-8.73664,1.56381-12.52956,2.67591-5.006,10.60183-2.53654,15.57222-5.27809,5.53017-3.05032,5.1994-11.53517,1.55907-16.6961-4.43955-6.294-12.22348-9.65241-19.91044-10.13643s-15.32094,1.59394-22.4974,4.39069c-8.15392,3.17767-16.23969,7.56925-21.25749,14.739-6.10218,8.71919-6.68942,20.44132-3.6376,30.63677C419.10222,311.0013,425.43805,318.57766,430.1166,323.56132Z"
                        transform="translate(-259.58071 -157.88396)" fill="#2f2e41" />
                    <path d="M641.58071,741.9626h-381a1,1,0,0,1,0-2h381a1,1,0,0,1,0,2Z"
                        transform="translate(-259.58071 -157.88396)" fill="#cacaca" />
                    <path
                        d="M596.58984,294.33545a3.488,3.488,0,0,1-2.38134-.93555l-16.15723-15.00732a3.49994,3.49994,0,0,1,4.76367-5.12891l13.68555,12.71192,27.07666-27.07618a3.5,3.5,0,1,1,4.94922,4.9502l-29.46094,29.46094A3.49275,3.49275,0,0,1,596.58984,294.33545Z"
                        transform="translate(-259.58071 -157.88396)" fill="#fff" />
                </svg>
            </div>

            <div class="form-group bottom-row">
                <button @onclick='(() => Nav.NavigateTo($"/menu/{createDishRequest.Id}"))'
                    class="continue-btn">Finish</button>
            </div>

        </div>
        }
    </div>
</main>

<style>
    .bar {
        transition: .3s ease all;
        width: @barWidth%;
        border-radius: 20px;
        background-color: rgb(60, 166, 60);
        height: 100%;
    }
</style>